h1{
    font-style:serif;
    text-align: center;
    color: #377ba8;
    background-color: lightblue;
   
}

form{
    width: 350px;
    padding: 16px;
    border-radius: 10px;
    margin:auto;
    background-color: #ccc;
}

#enviar{
    text-align: center;
    font-weight: 700;
}

#button{
    font-weight: 700; 
}